In [1]:
pwd

'/Users/sundarsritharan/Python/udemy_bootcamp/Intro'

In [2]:
print('hello world')

hello world

In [4]:
(0.1+0.2) - 0.3

5.551115123125783e-17

In [5]:
1/2

0.5

In [7]:
a = 10 

a = a + a 

print(a)

20

In [8]:
type(a)

int

In [9]:
a = 30.2
type(a)

float

In [10]:
my_income  = 100000
tax_rate = 0.23
my_taxes = my_income * tax_rate
my_taxes

23000.0

In [12]:
"hello world"
"hello python world"

'hello python world'

In [13]:
print("hello world")
print("hello python world")

hello world
hello python world

In [14]:
print("hello \nworld")

hello
world

In [15]:
print("hello \t world")

hello 	 world

In [16]:
my_name = 'meenashisundaram sritharan'
print(len(my_name))

26

In [20]:
my_name = 'sundar sritharan'
my_name[-5]

'h'

In [24]:
my_name = 'sundar sritharan'
my_name[7:]

'sritharan'

In [25]:
name = "sundar"
name[0] = "p"

TypeError: 'str' object does not support item assignment

In [26]:
name = 'sam'
# to change the name to pam 

last_letters = name[1:]
name = 'p' + last_letters
print(name)

pam

In [28]:
x = "Hello World"
x = x + " it's beautiful out there."
print(x)

Hello World it's beautiful out there.

In [30]:
#string multiplication 
sleeping = 'z' * 10
print(sleeping)

zzzzzzzzzz

In [33]:
name = 'sundar'
u_name = name.upper()
print(u_name)
print(u_name.lower())

SUNDAR
sundar

In [34]:
x = 'Hello this is a string'
x.split()

['Hello', 'this', 'is', 'a', 'string']

In [35]:
x = 'Hello this is a string'
x.split('i')

['Hello th', 's ', 's a str', 'ng']

In [36]:
s ='Sammy'
print(s[2:])

mmy

In [38]:
print("This is a string {}.".format('INSERTED'))

This is a string INSERTED.

In [39]:
print("The {} {} {}".format('fox','brown','quick'))

fox brown quick

In [41]:
print("The {2} {1} {0}".format('fox','brown','quick'))

The quick brown fox

In [42]:
print("The {0} {0} {0}".format('fox','brown','quick'))

The fox fox fox

In [43]:
print("The {q} {b} {f}".format(f='fox',b='brown',q='quick'))

The quick brown fox

In [46]:
result = 100/777
print("The result is {r:1.3f}".format(r=result))

The result is 0.129

In [47]:
name = 'sam'
age = 9 
print(f"{name} is {age} years old.")

sam is 9 years old.

In [48]:
print("{p} {r}!".format(p='Pythion',r='rules'))

Pythion rules!

In [49]:
print(4E2)

400.0