In [3]:
bicycles = ['trek','cannondale','redline','specialized']
print(bicycles[0].title())

Trek

In [5]:
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [7]:
print(bicycles[-3])

cannondale

In [11]:
message = f"My first bicycles was a {bicycles[0].title()}."
print(message)

My first bicycles was a Trek.

In [16]:
friends = ["Samuel","Natts","Bhoopathi"]
message = f"Hello {friends[0]}, I Hope you are having a great summer. "

print(message)

Hello Samuel, I Hope you are having a great summer.

In [22]:
vehicles = ["Bicycle", "Motorbike", "Car", "SUV"]
print(f"I would like to have a trek road {vehicles[0]}.")
print(f"I would like to have a Ducati Scrambler {vehicles[1]}.")
print(f"I would like to have a Telsa Model Y electric {vehicles[-1]}.")

I would like to have a trek road Bicycle.
I would like to have a Ducati Scrambler Motorbike.
I would like to have a Telsa Model Y electric SUV.

In [25]:
motorcycles = ["honda","yamaha","suzuki"]
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [27]:
motorcycles = []
motorcycles.append('honds')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honds', 'yamaha', 'suzuki']

In [30]:
motorcycles = ["honda","yamaha","suzuki"]

del motorcycles[1]
print(motorcycles)

['honda', 'suzuki']

In [32]:
motorcycles = ["honda","yamaha","suzuki"]
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [36]:
motorcycles = ["tvs50","suzuki samurai","baja pulsar"]
first_owned_motorcycle = motorcycles.pop(0)
print(f"My first motorcycle was {last_owned_motorcycle.title()}.")

My first motorcycle was Baja Pulsar.

In [39]:
motorcycles = ["Honda","Yamaha","Suzuki","Ducati"]
motorcycles.remove("Ducati")
print(motorcycles)

['Honda', 'Yamaha', 'Suzuki']

In [40]:
motorcycles = ["Honda","Yamaha","Suzuki","Ducati"]
too_expensive_motorcycle = "Ducati"
motorcycles.remove(too_expensive_motorcycle)
print(motorcycles)
print(f"\n A {too_expensive_motorcycle.title()} is too expensive for me.")

['Honda', 'Yamaha', 'Suzuki']

 A Ducati is too expensive for me.

In [137]:
dinner_names = ["Samuel","Natts","Bharath"]
print(f"Hello {dinner_names[0]}, you are invited for dinner at my home.")
print(f"\nHello {dinner_names[1]}, you are invited for dinner at my home.")
print(f"\nHello {dinner_names[2]}, you are invited for dinner at my home.")
print(dinner_names)

Hello Samuel, you are invited for dinner at my home.

Hello Natts, you are invited for dinner at my home.

Hello Bharath, you are invited for dinner at my home.
['Samuel', 'Natts', 'Bharath']

In [138]:

guest_removed = dinner_names.pop(2)
print(f"\nHey all looks like {guest_removed.title()} can't make to the dinner.")
dinner_names.append("Mani")
print(f"\nHello {dinner_names[0]}, you are invited for dinner at my home.")
print(f"\nHello {dinner_names[1]}, you are invited for dinner at my home.")
print(f"\nHello {dinner_names[2]}, you are invited for dinner at my home.")

print("\nHey all I found a new dinner table")

dinner_names.insert(0, "Bala" )
dinner_names.insert(int(len(dinner_names)/2), "Aravind" )
dinner_names.append("Ashok")
print(dinner_names)

Hey all looks like Bharath can't make to the dinner.

Hello Samuel, you are invited for dinner at my home.

Hello Natts, you are invited for dinner at my home.

Hello Mani, you are invited for dinner at my home.

Hey all I found a new dinner table
['Bala', 'Samuel', 'Aravind', 'Natts', 'Mani', 'Ashok']

In [139]:
print(f"Only 2 people are allowed for dinner")
print(f"Sorry {dinner_names.pop(-1)}, we don't have enough seats available for the dinner")
print(f"Sorry {dinner_names.pop(0)}, we don't have enough seats available for the dinner")
print(f"Sorry {dinner_names.pop(1)}, we don't have enough seats available for the dinner")
print(f"Sorry {dinner_names.pop(2)}, we don't have enough seats available for the dinner")
print(dinner_names)
print(f"{dinner_names[0]} you are still in dinner")
print(f"{dinner_names[1]} you are still in dinner")
print(dinner_names)
del dinner_names[0]
del dinner_names[0]
print(dinner_names)
guests = len(dinner_names)
print(guests)

Only 2 people are allowed for dinner
Sorry Ashok, we don't have enough seats available for the dinner
Sorry Bala, we don't have enough seats available for the dinner
Sorry Aravind, we don't have enough seats available for the dinner
Sorry Mani, we don't have enough seats available for the dinner
['Samuel', 'Natts']
Samuel you are still in dinner
Natts you are still in dinner
['Samuel', 'Natts']
[]
0

In [105]:
cars = ['bmw','audi','toyota','subaru']
cars.sort(reverse=False)
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [110]:
cars = ['bmw','audi','toyota','subaru']
print("Here is the original list")
print(cars)

print("\nHere is the sorted list")
print(sorted(cars))

print("\nHere is the original list")
print(cars)

Here is the original list
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list
['bmw', 'audi', 'toyota', 'subaru']

In [113]:
years_boughtcar = [2011,2017,2014,2013]
years_boughtcar.reverse()
years_boughtcar.reverse()
print(years_boughtcar)

[2011, 2017, 2014, 2013]

In [114]:
cars = ['bmw','audi','toyota','subaru']
len(cars)

4

In [129]:
world_locations = ['california','florida','delware','atlanta']
print(sorted(world_locations))
print(world_locations)
world_locations.reverse()
print(world_locations)
world_locations.sort()
print(world_locations)
world_locations.reverse()
print(world_locations)

['atlanta', 'california', 'delware', 'florida']
['california', 'florida', 'delware', 'atlanta']
['atlanta', 'delware', 'florida', 'california']
['atlanta', 'california', 'delware', 'florida']
['florida', 'delware', 'california', 'atlanta']

In [157]:
main_technologies = ['python','sql','^%jhgej','spark','delta_lake','ml','javascript','nodejs','react','junk']
total = len(main_technologies)
print(f"There are total of {total} technologies we will use.")
print(f"\nThese are the technologies {sorted(main_technologies)}.")
main_technologies.remove('junk')
last_technology = main_technologies.pop()
print(last_technology)
del main_technologies[2]
print(main_technologies)
main_technologies.append('mlflow')
print(main_technologies)
print(f"{sorted(main_technologies)}.")
main_technologies.insert(3,'pytorch')
print(f"{main_technologies}.")
main_technologies.sort(reverse=True)
print(f"{main_technologies}.")

There are total of 10 technologies we will use.

These are the technologies ['^%jhgej', 'delta_lake', 'javascript', 'junk', 'ml', 'nodejs', 'python', 'react', 'spark', 'sql'].
react
['python', 'sql', 'spark', 'delta_lake', 'ml', 'javascript', 'nodejs']
['python', 'sql', 'spark', 'delta_lake', 'ml', 'javascript', 'nodejs', 'mlflow']
['delta_lake', 'javascript', 'ml', 'mlflow', 'nodejs', 'python', 'spark', 'sql'].
['python', 'sql', 'spark', 'pytorch', 'delta_lake', 'ml', 'javascript', 'nodejs', 'mlflow'].
['sql', 'spark', 'pytorch', 'python', 'nodejs', 'mlflow', 'ml', 'javascript', 'delta_lake'].

In [169]:
# list index out of range error 
motorcycles = ['yamaha','suzuki','bajaj']
print(motorcycles[-1])

family_member_names = ['sundar','priya','diya','nidhi']

for member in family_member_names:
    print(member)

bajaj
sundar
priya
diya
nidhi

In [173]:
magicians = ['alice', 'david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()} \n")
print("Thank you, everyone. That was a great magic show")

Alice, that was a great trick!
I can't wait to see your next trick, Alice

David, that was a great trick!
I can't wait to see your next trick, David

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina

Thank you, everyone. That was a great magic show

In [177]:
family_member_names = ['sundar','priya','diya','nidhi']

for member in family_member_names:
    print(f"{member}")

sundar
priya
diya
nidhi

In [178]:
magicians = ['alice', 'david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()} \n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina

In [180]:
message = "Hello World Of Python"
print(message)

Hello World Of Python

In [181]:
magicians = ['alice', 'david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()} \n")
    print("Thank you, everyone. That was a great magic show")

Alice, that was a great trick!
I can't wait to see your next trick, Alice

Thank you, everyone. That was a great magic show
David, that was a great trick!
I can't wait to see your next trick, David

Thank you, everyone. That was a great magic show
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina

Thank you, everyone. That was a great magic show

In [183]:
magicians = ['alice', 'david','carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [187]:
liked_pizzas = ['cheese','veggie','mushroom','chicken']
for pizza in liked_pizzas:
    print(f"I like {pizza} pizza!")

print ("I love Pizza a lot")

I like cheese pizza!
I like veggie pizza!
I like mushroom pizza!
I like chicken pizza!
I love Pizza a lot

In [191]:
common_animals = ['tiger','lion','cheeta','puma','cougar']
for animal in common_animals:
    print(f"{animal.title()} is very dangerous.")

print("All of these animals eat meat and can run very fast.")

Tiger is very dangerous.
Lion is very dangerous.
Cheeta is very dangerous.
Puma is very dangerous.
Cougar is very dangerous.
All of these animals eat meat and can run very fast.

In [193]:
for value in range(1,6):
    print(value)

1
2
3
4
5

In [196]:
for value in range(6):
    print(value)

0
1
2
3
4
5

In [197]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [199]:
even_numbers = list(range(2,101,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [202]:
squares = []
for value in range(1,11):
    squares.append(value ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
digits = []

for value in range(1,10):
    digits.append(value)

print(digits)

print(min(digits))

print(max(digits))

sum(digits)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
9

45

In [4]:
squares = []

for value in range(1,5):
    squares.append(value ** 2)

print(squares)

[1, 4, 9, 16]

In [5]:
sqaures_comp = [value ** 2 for value in range(1,11)]
print(sqaures_comp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
count_twenty = []
for value in range(1,21):
    count_twenty.append(value)
print(count_twenty)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
count_million = []
for value in range(1,1000001):
    count_million.append(value)

print(min(count_million))
print(max(count_million))
print(sum(count_million))

1
1000000
500000500000

In [8]:
odd_num = []
for value in range (1,21,2):
    odd_num.append(value)

print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
three_pow = [value *3 for value in range(3,31)]
print(three_pow)

[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90]

In [13]:
cubes = [value ** 3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [14]:
players = ['charles','martina','michael','florence','eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [15]:
print(players[1:4])

['martina', 'michael', 'florence']

In [16]:
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [18]:
print(players[2:])

['michael', 'florence', 'eli']

In [20]:
new_players = ['charles','martina','michael','florence','eli','sundar']
print(new_players[-3:])

['florence', 'eli', 'sundar']

In [25]:
numbers = [value + 0 for value in range(1,11)]
print(numbers[::2])

[1, 3, 5, 7, 9]

In [30]:
new_players = ['charles','martina','michael','florence','eli','sundar']
print('Here are the first three players in the team :')
for player in new_players[:3]:
    print(player.title())

Here are the first three players in the team :
Charles
Martina
Michael

In [38]:
player_score = []

for score in range (10,2001):
    player_score.append(score)

for score in player_score[-3:]:
    print(score)

1998
1999
2000

In [45]:
my_food = ['pizza','falafel','carrot cake']
friend_food = my_food

my_food.append('cannoli')
friend_food.append('ice cream')

print("My favorite food are:")
print(f"{my_food} \n")

print("My friend's favorite food are:")
print(friend_food)

My favorite food are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite food are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

In [52]:
my_team = ['shreedhar','kesava','bhoopathi','relvan','kishore']
print('The first three items in the list are: ')
for member in my_team[:3]:
    print(member.title())
    
print('\n')

print('The three items in the middle of list are: ')
for member in my_team[1:4]:
    print(member.title())

print('\n')

print('The last three items in the list are: ')
for member in my_team[-3:]:
    print(member.title())

The first three items in the list are:
Shreedhar
Kesava
Bhoopathi


The three items in the middle of list are:
Kesava
Bhoopathi
Relvan


The last three items in the list are:
Bhoopathi
Relvan
Kishore

In [56]:
my_pizzas = ['cheese','veggie','mushroom','chicken']
friend_pizzas = my_pizzas[:]

my_pizzas.append('penne pasta')
friend_pizzas.append('peperoni')

print("My favorite pizzas are:")
for pizza in my_pizzas[:]:
    print(pizza)
    
print('\n')

print("My friend's favorite pizzas are:")
for pizza in friend_pizzas[:]:
    print(pizza)

My favorite pizzas are:
cheese
veggie
mushroom
chicken
penne pasta


My friend's favorite pizzas are:
cheese
veggie
mushroom
chicken
peperoni

In [58]:
dimensions = (200,50)
dimensions[0] = 250 
print(dimensions[0])
print(dimensions[1])

TypeError: 'tuple' object does not support item assignment

In [59]:
# one item tuple. leave an element with trialing comma

my_t = (3,)
print(my_t)

(3,)

In [61]:
dimensions = (200,50)
for dimension in dimensions:
    print(dimension)

200
50

In [63]:
dimensions = (200,50)
print("original dimensions")
for dimension in dimensions:
    print(dimension)

print('\n')

dimensions = (400,100)
print("modified dimensions")
for dimension in dimensions:
    print(dimension)

original dimensions
200
50


modified dimensions
400
100

In [69]:
buffet_menu = ('rice','sambar','rasam','poorial','kuttu')
print("Our original south indian buffet items:")
for item in buffet_menu:
    print(item.title())

    
print('\n')

buffet_menu = ('rice','sambar','rasam','poorial','kuttu','appalam')
print("Our newly added south indian buffet items:")
for item in buffet_menu:
    print(item.title())

Our original south indian buffet items:
Rice
Sambar
Rasam
Poorial
Kuttu


Our newly added south indian buffet items:
Rice
Sambar
Rasam
Poorial
Kuttu
Appalam